* {
  padding: 0;
  margin: 0;
}

#results {
  display: grid;
  /* here's where i impliment my grid */
}

.card {
  border: 3px solid #4f7d5d;
  padding: 25px;
}

#hoverBttn {

  width: 40px;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 10px;
  font-weight: bold;
  color: black;
  cursor: pointer;

}

.my-heading:hover {
  color: rgb(222, 144, 35) !important;
  /*important is a new key word for me, it allows for a rule to take precident above others...execpt of Bootstap which is why it aint working*/
}